@mixin max-width($param){
    @media only screen and (max-width: $param) {
        @content;
    }
}
@mixin max-height($param){
    @media only screen and (max-height: $param) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth;
  }

// index.html ----------- start header
.scroll-none {
    overflow: hidden;
}
header {
    border-top: 3px solid #181818;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    // margin: 0 24px;
    @include max-width(1240px) {
        margin: 0 24px;
    }
}
.main-logo {
    height: 70px;
    width: 57px;
    object-fit: contain;
}
.burger-main-box {
    display: none;
    position: relative;
    z-index: 30;
    @include max-width(800px) {
        display: flex;
    }
}
.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px; 
    width: 32px;
    background: #418B3D;
    cursor: pointer;
}
.close-burger {
    color: #fff;
    display: none;
    transition: 0.6s ease;
    font-size: 20px ;
}
.x-toggle {
    display: flex;
    transition: 0.6s ease;
}
.open-burger {
    display: flex;
    transition: 0.6s ease;
    opacity: 1;
}
.close-burger-bar {
    display: none;
    transition: 0.6s ease;
    opacity: 0;
}
.header-right-content-box {
    display: flex;
    align-items: center;
}
.header-nav {
    height: 100%;
    @include max-width(800px) {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(65, 139, 61, 0.95);
        z-index: 2;
        transition: 0.6s ease;
        opacity: 0;
        visibility: hidden;
    }
}
.open-nav {
    opacity: 1;
    visibility: visible;
    transition: 0.6s ease;
}
.header-nav-ul {
    display: flex;
    @include max-width(800px) {
        flex-direction: column;
    }
}
.header-nav-li {
    margin: 0 70px 0 0;
    &:last-child {
        margin-right: 100px;
    }
    @include max-width(1000px) {
        margin: 0 40px 0 0;
        &:last-child {
            margin-right: 50px;
        }
    }
    @include max-width(800px) {
        text-align: center;
        color: #fff;
        margin: 0 0 36px 0;
        &:last-child {
            margin-right: 0;
        }
    }
}
.nav-link {
    font-size: 12px;
    font: Bold 12px/14px Gotham Pro;
    color: #2C3D4F;
    position: relative;
    cursor: pointer;
    &::after {
        content: '';
        height: 0px;
        width: 2px;
        background-color: #171717;
        position: absolute;
        top: -42px;
        left: 50%;
        transition: 0.3s ease;
    }
    &:hover {
        transition: 0.3s ease;
        &::after {
            height: 35px; 
        }
    }
    @include max-width(800px) {
        color: rgba(255, 255, 255, 0.7);
        font-size: 13px;
        &::after {
            display: none;
        }
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}
.language-box {
    position: relative;
    height: 43px;
    width: 47px;
    background: #418B3D;
    &:hover {
        .language-content-box  {
            height: 130px;
            transition: 0.3s ease;
        }
    }
}
.language-content-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 42px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;
    a {
        padding: 13px;
        font-size: 13px;
        color: #2C3D4F;
        border: 1px solid #418B3D;
        font: Bold 13px/15px Gotham Pro;
    }
}
.language-content-box a:nth-child(1) {
    color: #fff
}
.language-content-box a:nth-child(3) {
    border-top: initial;
}
.language-content-box-active {
    order: -1;
}
// index.html ----------- end header

// index.html ----------- start pagenation
.pagenation-box {
    position: fixed;
    right: calc(50% - 600px);
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 3;
    a {
        display: flex;
        align-items: center;
        &:hover {
            .pagenation-line {
                width: 40px;
                transition: 0.6s ease;
            }
            .pagenation-number {
                opacity: 1;
                visibility: visible;
                transition: 0.9s ease;
            }
        }
    }
    @include max-width(1250px) {
        right: 2%;
    }
    @include max-width(720px) {
        display: none;
    }
}
.pagenation-number {
    font: Bold 16px/19px Gotham Pro;
    font-weight: bold;
    letter-spacing: 0;
    color: rgba(23, 23, 23, 0.3);
    text-transform: uppercase;
    opacity: 1;
    text-align: right;
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.9s ease;
}
.pagenation-line {
    height: 2px;
    width: 12px;
    background: rgba(23, 23, 23, 0.3);
    margin-right: 20px;
    margin-bottom: 10px;
    transition: 0.6s ease;
}
.active-page {
    .pagenation-number {
        opacity: 1;
        visibility: visible;
        color: rgba(23, 23, 23, 1);
    } 
    .pagenation-line {
        width: 40px;
        background: rgba(23, 23, 23, 1);
    }
}

// index.html ----------- end pagenation

// index.html ----------- start main swiper slider
.main {
    padding-top: 90px;
}
.swiper-box {
    height: calc(100vh - 90px) ;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.main-swiper-top-box {
    margin-top: 5vh;
    margin-bottom: 7vh;
    height: 70%;
    @include max-width(720px) {
        height: 80%;
    }
    @include max-height(500px) {
        margin-top: 0vh;
        margin-bottom: 3vh;
    }
}
.main-slider-thumbs {
    @include max-width(720px) {
        display: none;
    }
}
.main-swiper-bottom-box {
    width: 100%;
    padding-left: 100px;
    height: 60px;
}
.main-swiper-slide {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: -75px;
    // padding-left: 158px;
    // padding-left: 10%;
    @include max-width(1000px) {
        left: 0px;
    }
}
.main-swiper-description-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    @include max-width(1190px) {
        margin-right: 0;
    }
    @include max-width(720px) {
        align-items: center;
    }
    @include max-height(500px) {
        overflow-y: scroll;
    }
}
.go-left-mobile, .go-right-mobile {
    display: none;
    @include max-width(720px) {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.go-left-mobile {
    left: -40px;
}
.go-right-mobile {
    right: -40px;
}
.go-right, .go-left {
    cursor: pointer;
}
.slider-title {
    font-size: 10vmin; 
    color: #171717;
    font: Bold  Gotham Pro;
    @include max-width(1140px) {
        font-size: 8vmin; 
    }
}
.slider-main-img-big-box {
    display: flex;
    align-items: flex-end;
    .slider-main-img-box {
        // height: 349px;
        height: 45vmin;
        // width: 198px;
        width: 26vmin;
        margin-bottom: 37px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
.slider-main-img-big-box-mobile {
    display: none;
    @include max-width(720px) {
        display: flex;
    }
}
.slider-main-img-big-box-desctop {
    @include max-width(720px) {
        display: none !important;
    }
}
.main-swiper-select-product-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.main-swiper-select-content-box {
    width: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-top: 8px;
    }
    img {
        // height: fit-content;
    }
}
.big-bottle {
    height: 17vmin;
}
.main-swiper-bottom-img-box {
    display: flex;
    align-items: center;
}
.slider-text-box {
    display: flex;
    @include max-width(720px) {
        display: none;
    }
}
.main-swiper-description-text {
    width: 638px;
    height: auto;
    font-size: 2.2vh;
    overflow: hidden;
    // margin-bottom: 48px;
    @include max-width(1140px) {
        width: 500px;
    }
    @include max-width(900px) {
        width: 430px;
    }
    @include max-width(830px) {
        width: 340px;
    }
}
.line-text {
    margin-right: 32px;
    height: auto;
    width: 5px;
    background: transparent linear-gradient(30deg, #003114 0%, #438E3E 100%) 0% 0% no-repeat padding-box;
    display: flex;
}
.arrow-box {
    display: flex;
    justify-content: space-between;
}
.thumb-img {
    height: 100%;
}
.main-swiper-arrow-prev-box {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 60px;
    width: 80px;
    background-color: #fff;
}
.main-swiper-arrow-prev {
    position: absolute;
    top: 28%;
    left: 10px;
    z-index: 9;
    width: 32px;
    height: 32px;
    color: #418B3D;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #418B3D33;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-swiper-arrow-next-box {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 60px;
    width: 80px;
    background-color:  #fff;
}
.main-swiper-arrow-next {
    position: absolute;
    top: 28%;
    right: 10px;
    z-index: 9;
    width: 32px;
    height: 32px;
    color: #418B3D;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #418B3D33;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-box-mobile {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 12;
    display: none;
    @include max-width(720px) {
        display: flex;
    }
}
.description-btn {
    font: Bold 12px/14px Gotham Pro;
    letter-spacing: 0;
    color: #746d6d;
    opacity: 1;
    width: 122px;
    height: 42px;   
    border: 2px solid #EAEAEA;
    border-radius: 0px 10px 0px 0px;
    opacity: 1;
    background: #fff;
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 0;
    transition: 0.6s ease;
    cursor: pointer;
}
.close-description-box {
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px 10px 0px 0px;
    transition: 0.6s ease;
}
.description--text-box-mobile {
    display: none;
    cursor: pointer;
    background: #fff;
}
.descript-back {
    width: 100%;
    height: 0vh;
    background: black;
    opacity: 0.4;
    position: absolute;
    z-index: 11;
    display: none;
    bottom: 0;
    left: 0;
    transition: 0.6s ease;
}
.active-descrip-back {
    height: 100vh;
    transition: 0.6s ease;
    display: block;
}
.description-text-line-mobile {
    width: 20px;
    height: auto;
    margin-right: 16px;
    background: transparent linear-gradient(16deg, #003114 0%, #438E3E 100%) 0% 0% no-repeat padding-box;
}
.description-text-mobile {
    font: Regular 12px/20px Gotham Pro;
    letter-spacing: 0;
    color: rgba(23, 23, 23, 0.7);
    padding: 20px 24px 80px 24px;
    background: #fff;
    display: flex;
}
.descrip-plus {
    display: inline-flex;
}
.descrip-plus-hide {
    transform: rotate(-45deg);
    color: #418B3D;
}
.mobile-pagenation {
    position: fixed;
    top: calc(100vh - 35px);
    right: 5%;
    z-index: 3;
    display: none;
    @include max-width(720px) {
        display: block;
    }
}
.whole-page {
    font: Regular 15px/17px Gotham Pro;
    color: #17171766;
}
.current-page {
    color: #171717;
    font-size: 22px;
}
// index.html ----------- end main swiper slider

// index.html ----------- start populart product 
.popular-big-box {
    position: relative;
    height: 100vh;
    background: #FFFEEF 0% 0% no-repeat padding-box;
}
.popular-box {
    height: 100%;
}
.poular-product {
    position: relative;
    padding-top: 167px;
    height: 100%;
    @include max-width(1100px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    @include max-height(790px) {
        padding-top: 105px;
    }
    @include max-width(680px) {
        padding-top: 105px;
    }
}
.poular-product-h1 {
    font-size: 38px;
    font: Bold;
    letter-spacing: 0;
    color: #171717;
    text-align: center;
    font-size: 36px;
    color: #383C5D;
    @include max-width(800px) {
        margin-bottom: 6%;
    }
    @include max-width(680px) {
        font-size: 20px;
    }
}
.popular-slider-big-box {
    position: relative;
    display: flex;
    flex-direction: column;
    // height: 88%;
    // @include max-height(695px) {
    //     justify-content: center;
    // }
    // @include max-height(625px) {
    //     justify-content: flex-end;
    // }
    @media screen and (min-width: 900px) and (max-height: 725px) {
        height: 88%;
        justify-content: center;
    }
    @media screen and (min-width: 900px) and (max-height: 625px) {
        height: 88%;
        justify-content: flex-end;
    }
}
.poular-product-swiper-box {
    display: flex;
    @include max-width(1100px) {
        margin-left: 50px;
    }
    @include max-width(700px) {
        margin-left: 0px;
    }
}
.popular-swiper-slide {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    @include max-width(1100px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.popular-swiper-description-h1 {
    font-size: 24px;
    color: #418B3D;
    margin-bottom: 22px;
    font-weight: bold;
    @include max-width(1100px) {
        margin-top: 20px;
    }
    @include max-width(680px) {
        font-size: 15px;
        margin-bottom: 15px;
    }
}
.popular-swiper-description-text {
    font-size: 16px;
    color: #171717;
    margin-bottom: 32px;
    width: 628px;
    font-weight: bold;
    @include max-width(1100px) {
        width: 272px;
    } 
    @include max-width(680px) {
        font-size: 12px;
        margin-bottom: 20px;
    }
}
.popular-swiper-weight {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 72px;
    height: 46px;
    border: 1px solid #00000034;
    border-radius: 23px;
    margin-right: 5px;
    font-weight: bold;
    @include max-width(680px) {
        width: 53px;
        height: 33px;
        font-size: 11px;
    }
}
.popular-swiper-big-img-box {
    // width: 249px;
    width: 33vmin;
    // height: 441px;
    height: 56vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    img {
        width: 100%;
        height: 100%;
    }
    @include max-width(1100px) {
        width: 23vmin;
        height: 40vmin;
    }
    @include max-width(400px) {
        width: 95px;
        height: 168px;
    }
}
.popular-swiper-thumbs {
    width: 550px;
    height: 200px;
    // height: 26vmin;
    position: absolute;
    right: 180px;
    top: 50px;
    @include max-width(1100px) {
        width: 370px;
        height: 130px;
        right: 20%;
    }
    @include max-width(800px) {
        width: 175px;
        height: 220px;
        top: 0px;
    }
    @include max-height(700px) {
        // top: 50px;
    }
    @include max-width(720px) {
        width: 175px;
        height: 160px;
        right: 10%;
    }
    @include max-width(350px) {
        right: 0;
    }
}
.popular-swiper-wraper {
    display: flex;
    flex-wrap: wrap;
}
.popular-swiper-small-img-box {
    width: 83px !important;
    // width: 10vmin !important;
    height: 83px;
    // height: 10vmin;
    margin-right: 25px;
    margin-bottom: 24px;
    @include max-width(1100px) {
        width: 60px !important;
        height: 60px;
        margin-right: 12px;
        margin-bottom: 12px;
    }
    @include max-width(800px) {
        width: 45px !important;
        height: 45px;
        margin-right: 12px;
        margin-bottom: 12px;
    }
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    background: #fff;
    cursor: pointer;
    &:hover .pupular-slider-line {
        display: flex;
        transition: 0.3s ease;
    }
    img {
        width: 32px;
        // width: 4vmin;
        height: 56px;
        // height: 7vmin;
        @include max-width(1100px) {
            width: 21px;
            height: 35px;
        }
        @include max-width(800px) {
            width: 17px;
            height: 29px;
        }
    }
}
.popular-swiper-description-box {
    position: relative;
    right: 22px;
    @include max-width(1100px) {
        right: initial;
        margin: 0 24px;
    }
}
.pupular-slider-line {
    height: 100%;
    width: 3px;
    background: #418B3D;
    position: absolute;
    z-index: 1;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}
.popular-swiper-small-img-box-active {
    display: flex;
}
.popular--swiper-pagenation {
    transform: rotate(90deg);
    position: absolute;
    top: 450px;
    left: 200px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    margin: 5px;
    background-color: #fff;
}
// index.html ----------- start populart product

// index.html ----------- start about as
.about-as-outside-container {
    position: relative;
    height: 100vh;
    background: #FCF5F7;
    padding-top: 97px;
}
.about-as-title {
    text-align: center;
    color: #383C5D;
    font-size: 36px;
    margin-top: 200px;
    margin-bottom: 124px;
}
.about-as-content-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.about-as-description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 444px;
}
.about-as-description-content {
    width: 536px;
}
.about-as-description-title {
    color: #171717;
    margin-bottom: 40px;
    font: Bold 38px/45px Gotham Pro;
}
.about-as-description-box {
    display: flex;
    align-items: flex-start;
}
.about-as-description-text {
    font-size: 18px;
    color: #2C3D4F;
    margin-right: 32px;
    p {
        color: #171717;
    }
    p:nth-child(1) {
        margin-bottom: 24px;
    }
}
.about-as-line {
    width: 10px;
    height: 151px;
    background: transparent linear-gradient(26deg, #003114 0%, #438E3E 100%) 0% 0% no-repeat padding-box;
    display: flex;
    margin-right: 32px;
}
.about-as-video-box {
    width: 504px;
    height: 328px;
    display:table;
    position:relative;
    right: 50px;
}
.video {
    width: 100%;
    height: 100%;
}
.playpause {
    background-image:url("../img/Group37.png");
    background-repeat:no-repeat;
    width:15%;
    height:15%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    cursor: pointer;
}
.about-as-slider {
    height: 216px;
    position: absolute;
    bottom: 0;
    max-width: 1200px;
}
.logo-slider-box {
    height: 100%;
}
.swiper-wrapeper-box {
    height: 100% ;
}
.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
// index.html ----------- end about as

// index.html ----------- start footer
footer {
    height: 100vh;
    padding-top: 97px;
    background: #EFF6FF;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.fb-box {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #171717;
    margin-right: 56px;
}
.insta-box {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.footer-contact-box {
    display: flex;
    margin-top: 105px;
}
.phone-box {
    margin: 0 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address-box, .mail-box  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address-type {
    margin: 21px 0;
    font: Bold 16px/19px Gotham Pro;
    color: #171717;
}
.address-type-text {
    color: #171717;
    font: Regular 14px/16px Gotham Pro;
}
.smart-web-box {
    margin-top: 207px;
    color: #171717;
    font: Regular 14px/16px Gotham Pro;
}
// index.html ----------- end footer