* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  border-top: 3px solid #181818;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.main-logo {
  height: 70px;
  width: 57px;
  -o-object-fit: contain;
     object-fit: contain;
}

.burger-main-box {
  display: none;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  width: 32px;
  background: #418B3D;
  cursor: pointer;
}

.header-right-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  height: 100%;
}

.header-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-li {
  margin: 0 70px 0 0;
}

.header-nav-li:last-child {
  margin-right: 100px;
}

.nav-link {
  font-size: 12px;
  font: Bold 12px/14px Gotham Pro;
  color: #2C3D4F;
  position: relative;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  height: 0px;
  width: 2px;
  background-color: #171717;
  position: absolute;
  top: -42px;
  left: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-link:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-link:hover::after {
  height: 35px;
}

.language-box {
  position: relative;
  height: 43px;
  width: 47px;
  background: #418B3D;
}

.language-box:hover .language-content-box {
  height: 130px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.language-content-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 42px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.language-content-box a {
  padding: 13px;
  font-size: 13px;
  color: #2C3D4F;
  border: 1px solid #418B3D;
  font: Bold 13px/15px Gotham Pro;
}

.language-content-box a:nth-child(1) {
  color: #fff;
}

.language-content-box a:nth-child(3) {
  border-top: initial;
}

.language-content-box-active {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.main {
  padding-top: 97px;
}

.swiper-box {
  height: calc(100vh - 98px);
  width: 100%;
}

.main-swiper-top-box {
  margin-top: 5vh;
  margin-bottom: 7vh;
  height: 70%;
}

.main-swiper-bottom-box {
  width: 100%;
  padding-left: 100px;
  height: 60px;
}

.main-swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  position: relative;
  left: -75px;
}

.main-swiper-description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
}

.slider-title {
  font-size: 8vmin;
  color: #171717;
  font: Bold  Gotham Pro;
  margin-bottom: 5vh;
}

.slider-main-img-big-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider-main-img-big-box .slider-main-img-box {
  height: 349px;
  width: 198px;
  margin-bottom: 37px;
}

.slider-main-img-big-box .slider-main-img-box img {
  height: 100%;
  width: 100%;
}

.main-swiper-select-product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-swiper-select-content-box {
  width: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-swiper-select-content-box p {
  margin-top: 8px;
}

.main-swiper-select-content-box img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main-swiper-bottom-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-swiper-description-text {
  width: 638px;
  height: 17vh;
  font-size: 3vh;
  overflow: hidden;
  margin-bottom: 48px;
}

.line-text {
  margin-right: 32px;
  height: 125px;
  width: 5px;
  background: transparent linear-gradient(30deg, #003114 0%, #438E3E 100%) 0% 0% no-repeat padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumb-img {
  height: 100%;
}

.main-swiper-arrow-prev-box {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 60px;
  width: 80px;
  background-color: #fff;
}

.main-swiper-arrow-prev {
  position: absolute;
  top: 28%;
  left: 10px;
  z-index: 9;
  width: 32px;
  height: 32px;
  color: #418B3D;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 10px 20px #418B3D33;
          box-shadow: 0px 10px 20px #418B3D33;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-swiper-arrow-next-box {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  height: 60px;
  width: 80px;
  background-color: #fff;
}

.main-swiper-arrow-next {
  position: absolute;
  top: 28%;
  right: 10px;
  z-index: 9;
  width: 32px;
  height: 32px;
  color: #418B3D;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px #418B3D33;
          box-shadow: 0px 10px 20px #418B3D33;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-big-box {
  position: relative;
  height: 100vh;
  background: #FFFEEF 0% 0% no-repeat padding-box;
  padding-top: 167px;
}

.poular-product {
  position: relative;
}

.poular-product-h1 {
  font-size: 38px;
  font: Bold;
  letter-spacing: 0;
  color: #171717;
  text-align: center;
  font-size: 36px;
  color: #383C5D;
}

.poular-product-swiper-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.popular-swiper-description-h1 {
  font-size: 24px;
  color: #418B3D;
  margin-bottom: 22px;
  font-weight: bold;
}

.popular-swiper-description-text {
  font-size: 16px;
  color: #171717;
  margin-bottom: 32px;
  width: 628px;
  font-weight: bold;
}

.popular-swiper-weight {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 72px;
  height: 46px;
  border: 1px solid #00000034;
  border-radius: 23px;
  margin-right: 5px;
  font-weight: bold;
}

.popular-swiper-big-img-box {
  width: 249px;
  height: 441px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.popular-swiper-thumbs {
  width: 550px;
  height: 200px;
  position: absolute;
  right: 180px;
  top: 87px;
}

.popular-swiper-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular-swiper-small-img-box {
  width: 83px !important;
  height: 83px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #fff;
  cursor: pointer;
}

.popular-swiper-small-img-box:hover .pupular-slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.popular-swiper-small-img-box img {
  width: 32px;
  height: 56px;
}

.popular-swiper-description-box {
  position: relative;
  right: 22px;
}

.pupular-slider-line {
  height: 100%;
  width: 3px;
  background: #418B3D;
  position: absolute;
  z-index: 1;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
}

.popular-swiper-small-img-box-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular--swiper-pagenation {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 450px;
  left: 200px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin: 5px;
  background-color: #fff;
}

.about-as-outside-container {
  position: relative;
  height: 100vh;
  background: #FCF5F7;
  padding-top: 97px;
}

.about-as-title {
  text-align: center;
  color: #383C5D;
  font-size: 36px;
  margin-top: 200px;
  margin-bottom: 124px;
}

.about-as-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.about-as-description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 444px;
}

.about-as-description-content {
  width: 536px;
}

.about-as-description-title {
  color: #171717;
  margin-bottom: 40px;
  font: Bold 38px/45px Gotham Pro;
}

.about-as-description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-as-description-text {
  font-size: 18px;
  color: #2C3D4F;
  margin-right: 32px;
}

.about-as-description-text p {
  color: #171717;
}

.about-as-description-text p:nth-child(1) {
  margin-bottom: 24px;
}

.about-as-line {
  width: 10px;
  height: 151px;
  background: transparent linear-gradient(26deg, #003114 0%, #438E3E 100%) 0% 0% no-repeat padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
}

.about-as-video-box {
  width: 504px;
  height: 328px;
  display: table;
  position: relative;
  right: 50px;
}

.video {
  width: 100%;
  height: 100%;
}

.playpause {
  background-image: url("../img/Group37.png");
  background-repeat: no-repeat;
  width: 15%;
  height: 15%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.about-as-slider {
  height: 216px;
  position: absolute;
  bottom: 0;
  width: 88vw;
}

.logo-slider-box {
  height: 100%;
}

.swiper-wrapeper-box {
  height: 100%;
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  height: 100vh;
  padding-top: 97px;
  background: #EFF6FF;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.fb-box {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #171717;
  margin-right: 56px;
}

.insta-box {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 105px;
}

.phone-box {
  margin: 0 167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-box, .mail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-type {
  margin: 21px 0;
  font: Bold 16px/19px Gotham Pro;
  color: #171717;
}

.address-type-text {
  color: #171717;
  font: Regular 14px/16px Gotham Pro;
}

.smart-web-box {
  margin-top: 207px;
  color: #171717;
  font: Regular 14px/16px Gotham Pro;
}
/*# sourceMappingURL=style.css.map */