* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

// index.html ----------- start header
header {
    border-top: 3px solid #181818;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.main-logo {
    height: 70px;
    width: 57px;
    object-fit: contain;
}
.burger-main-box {
    display: none;
}
.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px; 
    width: 32px;
    background: #418B3D;
    cursor: pointer;
}
.header-right-content-box {
    display: flex;
    align-items: center;
}
.header-nav {
    height: 100%;
}
.header-nav-ul {
    display: flex;
}
.header-nav-li {
    margin: 0 70px 0 0;
    &:last-child {
        margin-right: 100px;
    }
}
.nav-link {
    font-size: 12px;
    font: Bold 12px/14px Gotham Pro;
    color: #2C3D4F;
    position: relative;
    cursor: pointer;
    &::after {
        content: '';
        height: 0px;
        width: 2px;
        background-color: #171717;
        position: absolute;
        top: -42px;
        left: 50%;
        transition: 0.3s ease;
    }
    &:hover {
        transition: 0.3s ease;
        &::after {
            height: 35px; 
        }
    }
}
.language-box {
    position: relative;
    height: 43px;
    width: 47px;
    background: #418B3D;
    &:hover {
        .language-content-box  {
            height: 130px;
            transition: 0.3s ease;
        }
    }
}
.language-content-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 42px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease;
    a {
        padding: 13px;
        font-size: 13px;
        color: #2C3D4F;
        border: 1px solid #418B3D;
        font: Bold 13px/15px Gotham Pro;
    }
}
.language-content-box a:nth-child(1) {
    color: #fff
}
.language-content-box a:nth-child(3) {
    border-top: initial;
}
.language-content-box-active {
    order: -1;
}
// index.html ----------- end header

// index.html ----------- start main swiper slider
.main {
    padding-top: 97px;
}
.swiper-box {
    height: calc(100vh - 98px) ;
    width: 100%;
}
.main-swiper-top-box {
    margin-top: 5vh;
    margin-bottom: 7vh;
    height: 70%;
}
.main-swiper-bottom-box {
    width: 100%;
    padding-left: 100px;
    height: 60px;
}
.main-swiper-slide {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: -75px;
    // padding-left: 158px;
    // padding-left: 10%;
}
.main-swiper-description-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}
.slider-title {
    font-size: 8vmin; 
    color: #171717;
    font: Bold  Gotham Pro;
    margin-bottom: 5vh;
}
.slider-main-img-big-box {
    display: flex;
    align-items: flex-end;
    .slider-main-img-box {
        height: 349px;
        width: 198px;
        margin-bottom: 37px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
.main-swiper-select-product-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.main-swiper-select-content-box {
    width: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-top: 8px;
    }
    img {
        height: fit-content;
    }
}
.main-swiper-bottom-img-box {
    display: flex;
    align-items: center;
}
.slider-text-box {
    display: flex;
}
.main-swiper-description-text {
    width: 638px;
    height: 17vh;
    font-size: 3vh;
    overflow: hidden;
    margin-bottom: 48px;
}
.line-text {
    margin-right: 32px;
    height: 125px;
    width: 5px;
    background: transparent linear-gradient(30deg, #003114 0%, #438E3E 100%) 0% 0% no-repeat padding-box;
    display: flex;
}
.arrow-box {
    display: flex;
    justify-content: space-between;
}
.thumb-img {
    height: 100%;
}
.main-swiper-arrow-prev-box {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 60px;
    width: 80px;
    background-color: #fff;
}
.main-swiper-arrow-prev {
    position: absolute;
    top: 28%;
    left: 10px;
    z-index: 9;
    width: 32px;
    height: 32px;
    color: #418B3D;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #418B3D33;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-swiper-arrow-next-box {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 60px;
    width: 80px;
    background-color:  #fff;
}
.main-swiper-arrow-next {
    position: absolute;
    top: 28%;
    right: 10px;
    z-index: 9;
    width: 32px;
    height: 32px;
    color: #418B3D;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #418B3D33;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
// index.html ----------- end main swiper slider

// index.html ----------- start populart product 
.popular-big-box {
    position: relative;
    height: 100vh;
    background: #FFFEEF 0% 0% no-repeat padding-box;
    padding-top: 167px;
}
.poular-product {
    position: relative;
}
.poular-product-h1 {
    font-size: 38px;
    font: Bold;
    letter-spacing: 0;
    color: #171717;

    text-align: center;
    // margin-top: 129px;
    // margin-bottom: 141px;
    font-size: 36px;
    color: #383C5D;
}
.poular-product-swiper-box {
    display: flex;
}
.popular-swiper-slide {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.popular-swiper-description-h1 {
    font-size: 24px;
    color: #418B3D;
    margin-bottom: 22px;
    font-weight: bold;
}
.popular-swiper-description-text {
    font-size: 16px;
    color: #171717;
    margin-bottom: 32px;
    width: 628px;
    font-weight: bold;
}
.popular-swiper-weight {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 72px;
    height: 46px;
    border: 1px solid #00000034;
    border-radius: 23px;
    margin-right: 5px;
    font-weight: bold;
}
.popular-swiper-big-img-box {
    width: 249px;
    height: 441px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.popular-swiper-thumbs {
    width: 550px;
    height: 200px;
    position: absolute;
    right: 180px;
    top: 87px;
}
.popular-swiper-wraper {
    display: flex;
    flex-wrap: wrap;
}
.popular-swiper-small-img-box {
    width: 83px !important;
    height: 83px;
    border-radius: 10px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    background: #fff;
    cursor: pointer;
    &:hover .pupular-slider-line {
        display: flex;
        transition: 0.3s ease;
    }
    img {
        width: 32px;
        height: 56px;
    }
}
.popular-swiper-description-box {
    position: relative;
    right: 22px;
}
.pupular-slider-line {
    height: 100%;
    width: 3px;
    background: #418B3D;
    position: absolute;
    z-index: 1;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}
.popular-swiper-small-img-box-active {
    display: flex;
}
.popular--swiper-pagenation {
    transform: rotate(90deg);
    position: absolute;
    top: 450px;
    left: 200px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    margin: 5px;
    background-color: #fff;
}
// index.html ----------- start populart product

// index.html ----------- start about as
.about-as-outside-container {
    position: relative;
    height: 100vh;
    background: #FCF5F7;
    padding-top: 97px;
}
.about-as-title {
    text-align: center;
    color: #383C5D;
    font-size: 36px;
    margin-top: 200px;
    margin-bottom: 124px;
}
.about-as-content-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.about-as-description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 444px;
}
.about-as-description-content {
    width: 536px;
}
.about-as-description-title {
    color: #171717;
    margin-bottom: 40px;
    font: Bold 38px/45px Gotham Pro;
}
.about-as-description-box {
    display: flex;
    align-items: flex-start;
}
.about-as-description-text {
    font-size: 18px;
    color: #2C3D4F;
    margin-right: 32px;
    p {
        color: #171717;
    }
    p:nth-child(1) {
        margin-bottom: 24px;
    }
}
.about-as-line {
    width: 10px;
    height: 151px;
    background: transparent linear-gradient(26deg, #003114 0%, #438E3E 100%) 0% 0% no-repeat padding-box;
    display: flex;
    margin-right: 32px;
}
.about-as-video-box {
    width: 504px;
    height: 328px;
    display:table;
    position:relative;
    right: 50px;
}
.video {
    width: 100%;
    height: 100%;
}
.playpause {
    background-image:url("../img/Group37.png");
    background-repeat:no-repeat;
    width:15%;
    height:15%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    cursor: pointer;
}
.about-as-slider {
    height: 216px;
    position: absolute;
    bottom: 0;
    max-width: 1200px;
}
.logo-slider-box {
    height: 100%;
}
.swiper-wrapeper-box {
    height: 100% ;
}
.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
// index.html ----------- end about as

// index.html ----------- start footer
footer {
    height: 100vh;
    padding-top: 97px;
    background: #EFF6FF;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.fb-box {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #171717;
    margin-right: 56px;
}
.insta-box {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.footer-contact-box {
    display: flex;
    margin-top: 105px;
}
.phone-box {
    margin: 0 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address-box, .mail-box  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address-type {
    margin: 21px 0;
    font: Bold 16px/19px Gotham Pro;
    color: #171717;
}
.address-type-text {
    color: #171717;
    font: Regular 14px/16px Gotham Pro;
}
.smart-web-box {
    margin-top: 207px;
    color: #171717;
    font: Regular 14px/16px Gotham Pro;
}
// index.html ----------- end footer